.dropdown {
	display: block;
	position: relative;
	.collection {
		display: none;
		visibility: hidden;
		position: absolute;
		z-index: 1000;
		left: 0;
		background-color: color(white);
		overflow: hidden;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
		animation: customFadeInUp 0.5s 1;
		&.collection-right {
			left: inherit;
			right: 0;
		}
		> li {
			white-space: nowrap;
			padding: 0;
			> a {
				display: block;
				color: inherit;
				// padding: 12px;
				// line-height: 1;
				// transition: background-color 0.3s ease;
				// &:after {
				// 	content: '';
				// 	display: inline-block;
				// 	float: right;
				// 	width: 32px;
				// 	font-family: FontAwesome;
				// 	text-align: right;
				// 	color: color(deep-orange);
				// }
			}
			// &.active a:after {
			// 	content: '\f00c';
			// }
		}
		&.wide {
			min-width: 320px;
			> li {
				white-space: normal;
				> a {
					display: inline-block;
				}
			}
		}
		&.collection-padding {
			> li {
				padding: 8px;
			}
		}
	}
	.toggle {
		cursor: pointer;
	}
	&.focus .collection {
		display: block;
		visibility: visible;
	}
}