<input type="number" ng-model="datepicker.year">
<input type="number" ng-model="datepicker.month">
<input type="number" ng-model="datepicker.day">
<h2 class="box">{{datepicker.day}}/{{months[datepicker.month]}}/{{datepicker.year}}</h2>
<table>
	<thead>
		<tr>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Set</th>
			<th>Sun</th>
		</tr>
	</thead>
	<tr ng-repeat="week in page">
		<td 
		ng-repeat="day in week"
		ng-click="pickDate(day)"
		ng-class="{'blue-bg': day.current, 'red-bg': day.selected, 'light': !day.visible}">
		{{day.day}}/{{day.month}}/{{day.year}}
		</td>
	</tr>
</table>

<pre>{{datepicker|json}}</pre>